.loaderContainer {
  display: flex;
  flex-direction: column; 
  gap : 3rem;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
  min-height: 20vh; /* Assurez-vous que la hauteur occupe 100% de l'écran */
  text-align: center;
  color : black;

}
.searchContainer {
  max-width: 1400px;
  margin: 0rem auto;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;

  input {
    width: 80%;
    max-width: 1100px;
    padding: 10px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    margin: 1rem 0;
    transition: border-color 0.3s;

    &:focus {
      border-color: #3498db;
      box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    }
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;


    &:hover {
      background-color: #217dbb;
      transform: translateY(-2px);
    }

    &:active {
      background-color: #1a5e91;
      transform: translateY(1px);
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  .error {
    margin-top: 1rem;
    color: #e74c3c;
    font-size: 0.9rem;
  }

  .searchResults {
    margin-top: 2rem;
    .projectRow {
      padding: 1rem;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #fff;
      transition: box-shadow 0.3s, transform 0.2s;
      cursor: pointer;

      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        transform: scale(1.02);
      }

      table {
        width: 100%;
        border-collapse: collapse;

        th,
        td {
          padding: 12px;
          text-align: left;
          border-bottom: 1px solid #eee;
        }

        th {
          background-color: #f4f4f4;
          font-weight: 600;
          font-size: 1rem;
          color : #4520ff;
        }

        td {
          font-size: 0.95rem;
          color: #555;
        }
      }
    }

    p {
      color: #555;
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;

  p {
    margin-top: 1rem;
    font-size: 1rem;
    color: #3498db;
  }
}

@media (max-width: 768px) {
  .searchContainer {
    padding: 1.5rem;
    h1 {
      font-size: 1.5rem;
    }
  }

  .searchResults {
    .projectRow {
      padding: 0.8rem;
    }

    table {
      th,
      td {
        font-size: 0.9rem;
      }
    }
  }
}
