.loaderContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
  min-height: 50vh; /* Assurez-vous que la hauteur occupe 100% de l'écran */
  text-align: center;
  color: black;
 
}


.deliveryNotesDetailsContainer {

 
  background-color: #f9f9f9aa;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
  margin: 0 auto;
 width: 100%;


 button {
  display: inline-block;
  padding: 10px 15%;
  font-size: 0.9rem;
  color: #fff;
  background-color: #109f00;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  margin-bottom: 10px;
  cursor: pointer;


  &:hover {
    background-color: #008b43;

  }}

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #007bff;
      color: #fff;
    }

    tbody tr:hover {
      background-color: #f1f1f1;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .productsList {
    list-style: none;
    margin: 10px 0;
    padding: 0;

    li {
      margin-bottom: 5px;
      font-size: 14px;
      color: #555;

      strong {
        color: #333;
      }
    }
  }
}