.loaderContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
  min-height: 100vh; /* Assurez-vous que la hauteur occupe 100% de l'écran */
  text-align: center;
  color: black;
}

.projectContainer {
  min-height: 100vh;
  padding: 7rem 2rem;
  background: #f8f9fa1d;
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  margin : 0 auto;



  .header {
    display: flex;
    width : 100%;
    justify-content: space-between;
  }
  .section2, .section1 {
    width: 40%;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2.5rem;

    p {
      margin: 1rem 0;
      font-size: 1rem;
      color: #495057;

      strong {
        color: #343a40;
      }
    }
  }

  .graphContainer {
    max-width: 1100px;
    margin: 3rem auto 0;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;

    h2 {
      font-size: 1.8rem;
      color: #343a40;
      margin-bottom: 1.5rem;
    }

    svg {
      overflow: visible;
    }
  }

  .loader,
  .error {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .loader {
    color: #6c757d;
  }

  .error {
    color: #dc3545;
  }

  .expensesContainer {
    margin-top: 3rem;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
  

  
    table {
      width: 100%;
      border-collapse: collapse;
  
      thead {
        background-color: #007bff;
  
        tr {
          th {
            padding: 10px;
            text-align: left;
            color: #fff;
            font-weight: bold;
            border-bottom: 2px solid #0056b3;
          }
        }
      }
  
      tbody {
        tr {
          &:nth-child(even) {
            background-color: #f2f2f2;
          }
  
          &:hover {
            background-color: #e9ecef;
          }
  
          td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            color: #555;
            font-size: 14px;
  
            &:first-child {
              font-weight: bold;
            }
  
            &:last-child {
              font-style: italic;
              color: #888;
            }
          }
        }
      }
    }
  }
  


}
