.homepageContainer {
  min-height: 100vh;
  max-width: 1400px;
  margin: auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    img {
      width: 100%;
      max-width: 30%;
    }

    .cross {
      font-size: 6rem;
      margin-top: 1.5rem;
      font-weight: 1000;
      font-family: "Courier New", Courier, monospace;
      color: #c60f7b;
    }
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: var(--col8);
    border-radius: 2.5rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;
    a {
      text-decoration: none;
      width: 9rem;
      height: 9rem;
      color: #c60f7b;
      background: linear-gradient(145deg, #ffffff, #cfcfcf);
      font-size: 1.1rem;
      font-weight: 500;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      display: flex;
      text-align: center;
      padding: 20px;
      line-height: 2rem;
      transition: all 0.3s ease;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
      &:hover {
        background: #03b3ff;
        color: white;
        scale: 1.01;
      }
    }
  }
  .externalAppsContainer {
    margin-top: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(290deg, #2b2b2b, #1e1e1e);
    padding: 1.5rem 3rem;
    border-radius: 1.5rem;
    gap: 1.5rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);

    .externalApps {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: center;
      gap: 6rem;
    }

    a {
      margin-top: 1rem;
      display: inline-block;

      img {
        width: 150px;
        height: auto;
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    .externalTitle {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .homepageContainer {
    img {
      width: 80%;
    }

    h1 {
      font-size: 1.5rem;
    }

    .categories {
      grid-template-columns: repeat(2, 1fr);

      a {
        width: 7rem;
        height: 7rem;
        font-size: 1rem;
      }
    }
  }
}
