.container {
    padding: 20px;
    color : black;
  }
  
  .detailsContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .leftColumn,
  .rightColumn {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .leftColumn h3,
  .rightColumn h3 {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f0f0f0;
  }
  