.billingContainer {
  padding: 20px;
  max-width: 1400px;
  margin: auto;
  padding-top: 6rem;
  min-height: 100vh;
}

h4 {
  background-color: #efb140;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -ms-border-radius: 8px 8px 0px 0px;
  -o-border-radius: 8px 8px 0px 0px;
}
.billingContainer h1 {
  text-align: center;
  margin-bottom: 20px;
}
.billingContainer .twoColumns {
  display: flex;
  gap: 10px;
}
.billingContainer .monthSidebar {
  flex: 0.5;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.billingContainer .monthSidebar h3 {
  margin-bottom: 40px;
  background-color: #001427;
}
.billingContainer .monthItem {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}
.billingContainer .monthItem:hover {
  background-color: #e9ecef;
}
.billingContainer .currentMonth {
  background-color: #d1ecf1;
}
.billingContainer .selectedMonth {
  background-color: #efb140;
  font-weight: bold;
}
.billingContainer .monthDetails {
  flex: 3;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.billingContainer .monthDetails h3 {
  margin-bottom: 15px;
  background-color: #001427;
  color: white;
  padding: 10px;
  border-radius: 6px;
}
.billingContainer .billingTable {
  width: 100%;
  border-collapse: collapse;
}
.billingContainer .billingTable th,
.billingContainer .billingTable td {
  padding: 10px;
  border: 1px solid #dee2e6;
  text-align: left;
}
.billingContainer .billingTable th {
  background-color: #f1f1f1;
}
.billingContainer .billingTable tfoot {
  font-weight: bold;
  background-color: #f8f9fa;
}
.billingContainer .projectLink {
  color: #001427;
  text-decoration: none;
}
.billingContainer .projectLink:hover {
  text-decoration: underline;
}
.billingContainer .projectLink:visited {
  color: #001427;
}
