.billingContainer {
  padding: 20px;
  max-width: 1400px;
  margin: auto;
  padding-top: 6rem;
  min-height: 100vh;
}

h4 {
  background-color: #efb140;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -ms-border-radius: 8px 8px 0px 0px;
  -o-border-radius: 8px 8px 0px 0px;
}

.charts {
  display: flex;
  width: 100%;
  margin-bottom: 20px;

  .chart1,
  .chart2 {
    flex: 1;
    margin-right: 10px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .chart2 {
    flex: 2;
  }

  .yearlyTotals {
    border-radius: 8px;
    h3 {
      max-width: 200px;
      margin: 0 auto;
    }

    p {
      text-align: center;
      margin-bottom: 1rem;
      span {
        line-height: 1.2rem;
      }
    }
  }
}

.billingContainer h1 {
  text-align: center;
  margin-bottom: 20px;
}

.billingContainer .twoColumns {
  display: flex;
  gap: 10px;
}

.billingContainer .monthSidebar {
  flex: 0.5;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.yearHeader {
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #001427;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.billingContainer .monthSidebar h3 {
  margin-bottom: 40px;
  background-color: #001427;
}

.billingContainer .monthItem {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  font-size: 1rem;
  background-color: var(--col2);
}

.billingContainer .monthItem:hover {
  background-color: #fbc767;
  color: black;
}

.billingContainer .currentMonth {
  background-color: var(--col4);
  color: black;
  border: 1px solid #efb140;
}

.billingContainer .selectedMonth {
  background-color: #efb140;
  font-weight: bold;
  color: black;
}

.billingContainer .monthDetails {
  flex: 3;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.billingContainer .monthDetails h3 {
  margin-bottom: 15px;
  background-color: #001427;
  color: white;
  padding: 10px;
  border-radius: 6px;
}

.billingContainer .billingTable th,
.billingContainer .billingTable td {
  padding: 10px;
  border: 1px solid #dee2e6;
  text-align: left;
  width: 100%;
  vertical-align: middle;

  a {
    text-decoration: none;
    color: #001427;

    &:hover {
      text-decoration: underline;
    }
  }
}

.pastDate {
  background-color: #efb140;
  padding: 5px;
  border-radius: 4px;
}

.billingContainer .billingTable th {
  background-color: #f1f1f1;
}

.billingContainer .billingTable tfoot {
  font-weight: bold;
  background-color: #f8f9fa;
}

.billingContainer .projectLink {
  color: #001427;
  text-decoration: none;
}

.billingContainer .projectLink:hover {
  text-decoration: underline;
}

.billingContainer .projectLink:visited {
  color: #001427;
}
