.searchProjectsContainer {
    padding-top : 2rem;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .projectList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .projectCard {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  