.loaderContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
  min-height: 40vh; /* Assurez-vous que la hauteur occupe 100% de l'écran */
  text-align: center;
  color: black;
}

.projectContainer {
  padding: 20px;
  background-color: #f9f9f9aa;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
  // margin: auto ;
  max-width: 1400px;
  margin-bottom: 1rem;

  .header {
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px;
    gap: 20px;
  }
  .section2,
  .section1 {
    width: 50%;

    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    p {
      margin: 1rem 0;
      font-size: 1rem;
      color: #495057;

      strong {
        color: #343a40;
      }
    }

    h3 {
      font-size: 1.1rem;
      color: #333;
      margin-bottom: 10px;
      font-weight: 500;
    }
    .noDataMessage {
      color: #ff4d4f; /* Rouge doux pour signaler une alerte */
      // color: #0ef124;
      font-size: 1.1rem;
      text-align: center;
      margin-top: 30px;
    }
  }

  .loader,
  .error {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .loader {
    color: #6c757d;
  }

  .error {
    color: #dc3545;
  }

  .expenses,
  .supplierContracts {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 1200px;
    margin: 3rem auto;

    button {
      display: inline-block;
      padding: 10px 15%;
      font-size: 0.9rem;
      color: #fff;
      background-color: #e10069;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s;
      margin-bottom: 10px;
      cursor: pointer;

      &:hover {
        background-color: #af0066;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        background-color: #007bff;

        tr {
          th {
            padding: 10px;
            text-align: left;
            color: white;
            font-weight: bold;
            border-bottom: 2px solid #0056b3;
          }
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: #f2f2f2;
          }

          &:hover {
            background-color: #e9ecef;
          }

          td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            color: #555;
            font-size: 14px;
            line-height: 1.5rem;

            &:first-child {
              font-weight: bold;
            }

            &:last-child {
              font-style: italic;
              color: #888;
            }

            span {
              color: white;
              cursor: pointer;
              background-color: #007bff;
              font-size: 1rem;
              padding: 0.2em 0.5rem;
              margin-right: 1rem;
            }
          }
        }
      }

      .expenseDetails {
        width: 100%;
        margin-top: 10px;
        background-color: #f9f9f9;

        th,
        td {
          padding: 8px;
          text-align: left;
        }

        th {
          background-color: #f2f2f2;
          color: #007bff;
        }
      }
    }
  }
}
