// style.module.scss
.companyDetailsContainer {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  color: #555;
  margin: 0 auto;
  padding-top: 6rem;

.section2, .section3 {
  margin-top: 3rem;
}


p {
  font-size: 1rem;

  line-height: 1.5;
  margin: 10px 0;
}

p strong {
  font-weight: 600;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }

  &:focus {
    outline: none;
  }
}

// Spacing between different sections
.companyDetailsContainer p + p {
  margin-top: 10px;
}

// Responsive design for small screens
@media (max-width: 768px) {
  .companyDetailsContainer {
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}
}